body {padding: 20px;}
.cont {background: #eee;padding: 20px;position: relative;}
.cont:after {
	content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;   
}
.team_logo_cont {float: left; width: 160px;padding: 20px;background: #fff;position: relative;}
.team_logo_cont img {width: 80px;height: 80px;}
.team_logo_cont h1 {float: right;font-size: 16px;}

/*.team_intro_cont {background: #fff;position: relative;left:160px; }*/