body {background: #fff;}
.main_cont{width: 894px;margin:0 auto;}
header.main_cont{position: relative; height: 60px;border-bottom: 2px solid #938e8c;}
header.main_cont h1{float: left;position: relative; width: 110px; height: 100%;background: #d45d5c;}
header.main_cont h1 a{position: absolute; bottom: 6px;left: 7px; font-size: 12px;color: #fff;}
header.main_cont span{color:#d45d5c;position: absolute;bottom: 6px;right: 0;font-size: 12px; }

#banner_cont {height: 301px;margin-top: 36px;}
#banner {width: 641px;height:100%; position: relative;}
#banner .glass{width: 190px;height: 100%;position: absolute;}
#banner .item1{left: 0;top: 0; background: #428c59;opacity: 0.5;}
#banner .item2{right: 0;top: 0;background: #cc7681;opacity: 0.5;}

#sidebar {width: 204px;height:100%;float: right;border-top: 2px solid #cc8091;position: relative;}
#sidebar h2 {font-size: 24px;text-transform: uppercase;margin-top: 13px;}
#sidebar p{font-size:12px ;font-family: "楷体","楷体_GB2312";  }
/*#sidebar p span {text-transform: uppercase;}*/
#sidebar .caption {    font: 24px "微软雅黑"; text-decoration: underline;    color: #000000;   text-transform: uppercase;}
#sidebar .num{margin-left: -15px; margin-top: 50px;font:116px "微软雅黑";color: #75b86b; font-style: italic;}
#sidebar .footer{position: absolute;bottom: 0;left: 0;}
#sidebar .footer h3 {font:55px "微软雅黑";margin-top: 14px;  color: #cc8091;position: absolute;}
#sidebar .footer div{margin-top: 32px;margin-left: 85px;}
#sidebar .footer span{font:21px "微软雅黑"; color: #cc8091;}
#sidebar .footer p{font:12px "微软雅黑";}

#article_cont{margin-top: 42px;height: 172px; overflow: hidden;}
#article_cont .item{float: left;margin-right: 30px;}
#article_cont article h4{text-decoration: underline;font: 16px  "微软雅黑";}
#article_cont article p{margin-top: 9px; text-align: justify;font:12px "宋体";color: #767777;line-height: 16px;}
#article_cont .item1{width: 228px;}
#article_cont .item1 h4{color: #418c59;}

#article_cont .item2{width: 203px;}
#article_cont .item2 h4{color: #d2994f;}

#article_cont .item3{width: 133px;}
#article_cont .item3 h4{color: #cc7680;}

#article_cont .item3 p{line-height: 21px;margin-top: 7px;}


/* #article_cont ul {margin-top: 15px;list-style-type: none;}
#article_cont li {font: 12px "微软雅黑";margin-top: 10px;}
#article_cont li span {color: #cd4a48;} */
#article_cont ul {margin-top: 25px;list-style-type: none;}
#article_cont li {font: 12px "微软雅黑";line-height: 12px;  margin-bottom:  8px;}
#article_cont li span {color: #cd4a48;} 
/*
#article_cont ul {margin-top: 15px;list-style-type: none;}
#article_cont li {font: 12px "微软雅黑";margin-top: 10px;}
#article_cont li span {color: #cd4a48;}*/

#content{margin-top: 76px;}
#content:after {content: "";display: block;clear: both;zoom: 1;}
.news_main_cont{float: right;width: 462px;}
.news_main_cont .news_banner{position: relative;}
.news_main_cont .news_banner img{width: 100%;height: 100%;}
.news_main_cont .news_banner .info{position: absolute;left: 0;bottom: 0;width:100%;height: 44px;background: #040000;opacity: 0.4;padding: 8px 0 8px;}
.news_main_cont .info h3{float: left;margin-left:58px;border-left:2px solid #72b16a; width: 126px;height: 100%;line-height: 44px; text-align: center;color: #fff;font-size: 26px;}
.news_main_cont .info span{float: left;color:#72b16a;margin-top: 18px;font: 12px "微软雅黑"; font-style: italic;}
.news_main_cont .news{margin-top: 30px;background-color: #eeedd6;padding: 30px 0 0 0;/*position: relative;height: 316px;*/}
.news_main_cont .news:after{content: "";display: block;clear: both;}
.news_main_cont .news ul{padding: 0 22px 0 30px;}
.news_main_cont .news li{padding-left: 18px;  margin-bottom: 26px; font: 16px "宋体";list-style-type: none;background: url(./../img/item.png) no-repeat left 80%;}
.news_main_cont .logo_cont{width: 244px;height: 88px;background-color: #d45d5c;
    float: left; padding: 38px 0px 34px 16px;}
.news_main_cont .logo_cont .num{
    float: left;width: 70px; height: 86px;line-height: 86px; color: #fff;font-size:110px;border-right: 2px solid #fff;}
.news_main_cont .logo_cont .sidebar{float: left;width: 162px;margin-left: 8px; color: #fff;}
.news_main_cont .logo_cont em{font-size: 21px;line-height: 24px;}
.news_main_cont .logo_cont span{font-size: 12px;line-height: 6px;
    margin-top:6px;}


.news_main_cont p{width: 162px;font-size:14px;line-height: 16px;
    float: left;margin-left: 16px;margin-top: 23px;}
.news_main_cont p span{
    float: left;padding-top: 10px; color: #f00;font-size:72px;line-height: 6px;margin-left: -29px;}
.news_main_cont span.last{
    float: right;padding-top: 28px;}
.news_cont{}







